@charset "UTF-8";

/* Last edit: 2/18/2018 8:00 PM */
/* Last validated error free: 2/18/2018 9:27 PM */

/* Cite code */

body{
    background-color: lightcyan;
    border-style: solid;
    border-color: blue;
    text-align: center;
    width: 1200px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-top: 50px;
    font-style: italic;
    font-family: sans-serif
}

#Banner li {;
    list-style: none;
    margin-right:50px;
    display: inline-table;  
    
}

.title{
    color:orange;
    text-align: center
}

nav{
    border-color: aqua;
    display:inline-block;
    text-align: center;
    background-color: lightgoldenrodyellow;
    overflow: auto;
    white-space: nowrap;
    padding: 14px;
}

.Mission{
    background-color: aquamarine;
}

.pledge{
    background-color: indianred;
}

.Drinks{
    word-spacing: 100px;
    color: blue
}

.Food{
    color:blue
}

.dcolumn{
    float:left;
    width: 24%;
    padding: 5px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

.fcolumn{
    float:left;
    width: 15%;
    padding: 5px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

.NateContact
{
   color: black;
    background: url(https://i.gifer.com/QLS.gif);
}